
#################################################
########   MNH THETRE TIME UTILIZATION  #########
#################################################


########   OBSERVABILITY    ########
LOG_LEVEL=DEBUG
PROMETHEUS_ENABLED=true
DOCKER_BUILDKIT="1 docker build -t app ."

############   CORS    ############
CORS_ORIGINS=["*"]

########   APPRICATION      ########
APP_NAME="MNH Theatre Time Utilization Service"
HOST_HTTP="http://"
HOST_URL=192.168.1.148
HOST_PORT=8093
APP_VERSION=1.0.0
ENVIRONMENT=development
SYSTEM_DEBUG_MODE=true
API_PREFIX=/api


#############################################
##############  POSTGRES SQL ################
#############################################
POSTGRES_USER=postgres
POSTGRES_PASSWORD="  "
POSTGRES_HOST=" "
POSTGRES_PORT=5432
POSTGRES_DB="mnh_theater_time_db"


########################################################################
######## JWT (SHARED SECRET WITH AUTH SERVICE RSA-PRODUCTION  ) ########
########################################################################
JWT_PUBLIC_KEY_PATH: "public.pem"
JWT_ALGORITHM=RS256
JWT_ISSUER=""
JWT_AUDIENCE=""
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=10080


#################################################
######## MNH CONNECT SMTP EMAIL SERVER   ########
#################################################
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_USE_TLS:"True"
EMAIL_PORT=465
EMAIL_HOST_USER=' '
EMAIL_HOST_PASSWORD='  '
DEFAULT_FROM_EMAIL="   "


#################################################
## Celery + Redis BAckground Task Controller ####
#################################################
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=<  REDIS PASSWORD   >
##########RABIT MQ###########
POSTGRES_SERVER=rabbitmq
RABBIT_PORT=5672
RABBIT_USERNAME=<   RABIT USERNAME  >
RABBIT_PASSWORD=<   RABIT PASSWORD >

############################
# MINIO (CLEAN VERSION)
############################
MINIO_ROOT_USER=< MINIO SECRET KEY/ USERNAME >
MINIO_ROOT_PASSWORD=<   MINIO PASSWORD  >

MINIO_ENDPOINT_URL="${HOST_HTTP}${HOST_URL}:9000"
MINIO_PUBLIC_ENDPOINT="${HOST_HTTP}${HOST_URL}:9000"

MINIO_ACCESS_KEY=< MINIO SECRET KEY/ USERNAME >
MINIO_SECRET_KEY=<   MINIO PASSWORD  >

MINIO_BUCKET_NAME=mnh-connect
MINIO_USE_SSL=false
MINIO_PRESIGNED_URL_EXPIRY=3600

######################################
########   OTHER SERVICES     ########
######################################
MAIN_SERVICE_BASE_URL="${HOST_HTTP}${HOST_URL}:8092"
MAIN_SERVICE_TIMEOUT=10
MAIN_SERVICE_API_KEY=<--- ADD KEYE FORM MAIN SERVISE FOR SERVICE COMMUNICATIONS ---->
